<h1><%= flash[:info] %></h1>
<div class="discover">
  <%= button_to "Discover Movies", discover_index_path, method: :get %>
</div>

<section class="friends">
  <h2>Friends</h2>
  <ul class="friends-list">

      <% unless @friends.empty? %>
          <% @friends.each do |f| %>
            <li><%= f.name %></li>
          <% end %>
      <% else %>
  </ul>
    <p>You currently have no friends. </p>
  <% end %>
  <br>
  <div class="friends-add">
    <% if flash[:error] %>
      <h3><%= flash[:error] %></h3>
    <% end %>
    <%= form_with url: friendships_create_path, method: :post do |form| %>
      <%= form.label :friends_email, "Friend's Email:" %>
      <%= form.text_field :friends_email %>
      <%= form.submit "Add Friend" %>
    <% end %>
  </div>
</section>

<section>
  <h2>Viewing Parties</h2>
</section>
<h3><%= link_to "Log Out", session_path(@user), method: :delete %></h3>
