<h1><%= flash[:info] %></h1>
<h2><%= @movie_info[:title] %></h2>
<section>
  <ul>
    
  <li>Vote Average: <%= @movie_info[:vote_average] %></li>
  <li>Runtime: <%= @movie_info[:runtime] %> minutes</li>
  <li>Genre: <%= @genres %></li>
</ul>
</section>

<section>
  <h3>Summary</h3>
  <p><%= @movie_info[:overview] %></p>
  <h3>Cast</h3>
  <ul>
    <% @cast.each do |cast_member| %>
      <li><%= cast_member %></li>
    <% end %>
  </ul>
</section>

<section>
  <h3><%= @movie_reviews.count %> Reviews</h3>
  <% @movie_reviews.each do |m| %>
    <h4><%= m[:author] %></h4>
    <p><%= m[:content] %></p>
  <% end %>
</section>
