<h1>Register</h1>
<%= form_with(model: @user, local: true) do |form| %>
  <% if flash[:error] %>
    <div id="error_explanation">
      <h2><%= flash[:error] %></h2>

    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation %>
  </div>

  <div class="actions">
    <%= form.submit "Register" %>
  </div>
<% end %>
