<%= flash[:info] %>

<div class="gif-wrapper">
  <h1 class="landing-title"> Welcome to Viewing Party </h1>
</div>

<p>Viewing party is an application in which users can explore movie options and create a viewing party event for the user and friend's.</p>

<section>
  <% if flash[:error] %>
    <p><%= flash[:error] %></p>
  <% end %>
  <%= form_with url: sessions_path, local: true do |form| %>
    <%= form.label :email, "Email" %>
    <%= form.text_field :email %>

    <%= form.label :password, "Password" %>
    <%= form.password_field :password %>

    <%= form.submit "Log In" %>
  <% end %>
</section>

<%= link_to "New to Viewing Party? Register Here", new_user_path %>
